:root {
    --font-body: Quicksand;
    --color-light: rgb(255, 255, 255);
    --color-blue-100: rgb(109, 120, 148);
    --color-blue-900: rgb(25, 52, 121);
    --spacing-1: 10px;
    --spacing-2: 20px;
    --radius: 5px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body, monospace);
}
body {
    color: var(--color-blue-900);
}
form {
    width: 90%;
    margin: var(--spacing-1) auto;
}
.form-campos {
    margin: var(--spacing-2) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
}
textarea {
    border-color: var(--color-blue-100);
    border-radius: var(--radius);
    padding: var(--spacing-1);
    height: 150px;
    resize: none;
}
.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--spacing-2);
}
.btn {
    padding: var(--spacing-1) var(--spacing-2);
    background-color: var(--color-blue-100);
    color: var(--color-light);
    border-radius: var(--radius);
    border: none;
    font-weight: 800;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--color-blue-900);
}