/*formata o corpo da página*/
/*body {*/
/*    font-family: "Poppins", sans-serif;*/
/*}*/

/*h1 {*/
/*    font-size: 40px;*/
/*    font-weight: 400;*/
/*    text-align: center;*/
/*    line-height: 1;*/
/*    text-decoration: underline;*/
/*}*/

/*h2 {*/
/*    font-size: 28px;*/
/*    font-weight: 300;*/
/*    text-align: center;*/
/*}*/

/*p {*/
/*    font-weight: 600;*/
/*    font-size: 30px;*/
/*    line-height: 1.6;*/
/*    letter-spacing: 1px;*/
/*    word-spacing: 10px;*/
/*    white-space: wrap;*/
/*}*/

/*a {*/
/*    text-decoration: none;*/
/*    font-size: 20px;*/
/*    font-weight: 600;*/
/*    transition: .5s;*/
/*    text-shadow: 1px 1px 10px black;*/
/*}*/

/*a:hover {*/
/*    text-decoration: underline;*/
/*    font-size: 25px;*/
/*}*/

/*#paragrafo-1 {*/
/*    font-size: 30px;*/
/*    color: #dc143c;*/
/*}*/

/*.paragrafo {*/
/*    color: #336699;*/
/*    font-weight: 600;*/
/*    font-size: 25px;*/
/*}*/

/*.link {*/
/*    font-size: 15px;*/
/*    font-weight: 900;*/
/*    letter-spacing: 1px;*/
/*    text-decoration: none;*/
/*}*/

/*.link:hover {*/
/*    color: #dc143c;*/
/*}*/

/*.container{*/
/*    color: #9999;*/
/*}*/
/*.container-title{*/
/*    font-size: 50px;*/
/*}*/

/*.container-text {*/
/*    font-size: 15px;*/
/*}*/

/*.container-link{*/
/*    font-size: 20px;*/
/*    text-decoration: none;*/
/*    color: red;*/
/* }*/

/*--------------------------------------*/

/*Nesting Funcionando*/

/*.container {*/
/*    color: #999;*/

/*    h2 {*/
/*        font-size: 50px;*/
/*    }*/

/*    p {*/
/*        font-size: 15px;*/
/*        font-weight: 700;*/
/*    }*/

/*    .container-link {*/
/*        font-size: 20px;*/
/*        text-decoration: none;*/
/*        color: red;*/

/*        &.hover {*/
/*            font-weight: 900;*/
/*        }*/

/*    }*/
/*}*/

/*!*Listas ordenadas*!*/

/*ol,ul{*/
/*    list-style: none;*/
/*}*/




/*.galeria img{*/
/*    border-radius: 5px 150px 200px 10px;*/
/*    aspect-ratio: 16/9;*/
/*    filter: grayscale(1);*/
/*    box-shadow: 1px 1px 10px #dc143c;*/

/*    &:hover{*/
/*        filter: grayscale(0);*/
/*    }*/
/*}*/


/*.w-20{*/
/*    width: 20%;*/
/*}*/
/*.w-30{*/
/*    width: 30%;*/
/*}*/
/*.w-40{*/
/*    width: 40%;*/
/*}*/

/*:root{*/
/*    --font-body: "Poppins", sans-serif;*/
/*    --color-blue: #000033;*/
/*    --color-orange: #ff6600;*/
/*    --color-pink: #dc143c;*/
/*    --weight: 600;*/
/*}*/

/*body{*/
/*    font-family: var(--font-body);*/
/*}*/

/*.title{*/
/*    color: var(--color-pink);*/
/*}*/

/*p{*/
/*    --color-blue: #8686e9;*/
/*    color: var(--color-blue);*/
/*}*/

/*a{*/
/*    color: var(--color-orange);*/
/*    font-weight: var(--weight);*/
/*}*/

@property --text-color{
    syntax: "<color>";
    inherits: true;
    initial-value: #dc143c;
}

@property --text-size{
    syntax: "<length>";
    inherits: true;
    initial-value: 60px;

}

body {
    font-family: "Poppins", sans-serif;
}

.container h2{
    color: var(--text-color);
    font-size: var(--text-size);
}
